{% extends 'base.html' %}

{% block title %} Blogs {% endblock %}
{% block homeactive %} active {% endblock homeactive %}

{% block css %}

{% endblock %}
{% block body %}
<style >
  .card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.card{
  transition: all 0.3s;
}
.card:hover{
  transform: scale(1.10);
}
.card:hover {
  background-color:rgb(247, 147, 147) ;
}
.like-btn {
  background-color: #f2f2f2;
  border: none;
  color: #333;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.like-btn:hover {
  background-color: #ccc;
}

</style>

<div class="container mt-5 mb-3">

    <div class="row" >
        {% for post in posts %}
        <div class="col-lg-4 my-5">
          <div class="card" style="width: 22 rem;">
                <img src="/media/{{post.image}}" class="card-img-top" alt="..." height="200px">
                <div class="card-body" >
                  <h5 class="card-title"  style="height: 6rem;" >{{post.title}} <br><small>By {{post.author}}</small></h5>
                  <p class="card-text" style="height: 10rem;" >{{post.content| truncatechars:200}}</p> 
                  <a href="blog/{{post.slug}}" class="btn btn-primary pull-down">Read More {% if user.is_superuser %}<a href="delete_blog_post/{{post.slug}}/" class="btn btn-danger mx-4">Delete Blog</a>{% endif %}</a>
                  <br>
                  <br>
                  <form method="post" action="{% url 'like_post' post.pk %}">
                    {% csrf_token %}
                  <button class="like-btn">Like</button>
                  {{ post.likes.count }} likes
                </form>
                <!-- <form method="post" action="{% url 'like_post' post.pk %}"></form> -->
                
                </div>
              </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block js %} 
<script></script>
{% endblock %}


